html {
  font-size: 14px;
  scroll-padding-top: 70px;
}
/* default is bolder=700 */
strong { font-weight: 600; }
.stronger { font-weight: 700; }

.localhref {
}

ul.tighter, ol.tighter {
  margin-left: 1rem;
  list-style-position: inside;
  li {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}


a.plain {
  text-decoration: none;
  color: inherit;
}

.book-card {
  border: 1px solid $theme-border-color;
  padding-left: 0px;
}

.todo, .TODO, .bold-red { font-weight: bold; color: red; }
.todo-subdued { color: red; font-size: small;}

h2.docs-subheading {
  color: $theme-text-color-light;
}
h2, .docs-article h2 {
  margin-top: 2rem;
  span {
    display: inline-block;
    font-size: 1rem;
    line-height: 100%;
  }
  &.danger { color: $theme-danger-color;}
}
h3, .docs-article h3 {
  margin-top: 1rem;
  font-style: italic;
  color: $theme-text-color-light;
  span {
    display: inline-block;
    font-size: 1rem;
    line-height: 100%;
  }
  &.danger { color: $theme-danger-color;}
}

.docs-article ul.tight li {
  padding-top: 0;
  padding-bottom: 0;
}


@media (max-width: 575px) {
  .book-grid-cover {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .book-grid-cover {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;

    -moz-column-count: 2; 
    -moz-column-gap: 4rem;

    column-count: 2; 
    column-gap: 4rem;

    /*
    -webkit-column-rule: 2px solid $theme-divider-color;
    -moz-column-rule: 2px solid $theme-divider-color;
    column-rule: 2px solid $theme-divider-color;
    */
  }
}
figure,li {
  break-inside: avoid;
}

.quick-or-comprehensive {
  /*
  background-color: #5d6778;
  color: #fff;
  */
  & > div { background-color: #fff; }
  & > div {
    cursor: pointer;
    height: 100%;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: lighten($theme-text-color-primary, 50%);
  }
  .selected-guide {
    color: $theme-text-color-primary;
    border-top: 4px solid $theme-color-primary;
    border-bottom: 2px solid $theme-color-primary;
  }
}

.page-nav a {
  text-decoration: none;
  color: $theme-text-color-secondary;
  small {
    color: $theme-text-color-light;
  }
  div.border {
    transition: transform 0.2s;
  }
  div.border:hover {
    transform: translate(0px, -4px);
    color: $theme-color-primary;
  }
}

.last_updated, .chapter_name {
  display: inline-block;
  font-weight: normal;
  color: lighten($theme-text-color-secondary, 10%);
}
.last_updated {
  font-size: 0.75rem;
}

.page_done {
  font-size: 0.9rem;
  color: $theme-info-color;
}

.BOM-grid {
  .bom-card {
    padding: 1rem;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: end !important;
    text-align: center;
  }
  img {
    align-self: center !important;
    max-height: 100px;
  }
  h3 {
    font-size: 1.3rem;
  }
  .description {
  }
  .bom-detail {
    font-size: 0.9rem;
    font-style: italic;
  }
}

.danger {
  color: $theme-danger-color;
}
.info {
  color: $theme-info-color;
}


.blockquote {
  font-family: 'EB Garamond', serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	font-style: normal;
	font-size: 20px;
	line-height: 1em;
	color: $theme-text-color-secondary;
  border-left: 2px solid $theme-color-primary;
  padding: 1rem;
	max-width: 350px;
  margin: 10px 10px 10px 20px;
	&:before { content: ''; }
	&:after { content: ''; }
}

@media (min-width: 768px) {
  .float-md-img, .float-md {
    float: right;
  }
  .float-md-img-left, .float-md-left {
    float: left;
  }
}

@media (min-width: 992px) {
  .blockquote {
    float: right;
  }
  .float-lg-img, .float-lg {
    float: right;
  }
  .float-lg-img-left, .float-lg-left {
    float: left;
  }
}

.author {
  font-size: 0.86rem;
  text-color: $theme-text-color-secondary;
  margin-bottom: 2rem;
  border-bottom: 1px solid $theme-border-color;
}

.table-small-text {
  font-size: 12px;
}
.table thead th {
  border-bottom-color: $theme-text-color-primary;
}
.table tbody th {
  border-right-color: $theme-text-color-primary;
  border-right-width: 1px;
}

.solder-joint-table img {
  max-height: 80px;
  max-width: 77px;
}
.solder-joint-table img.double {
  max-height: 140px;
}
.solder-joint-table tbody>tr>:nth-child(2) {
  padding-right: 0.5rem;
}


.showcase {
  color: $theme-color-primary;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}


.docs-article strong.callout-strong, strong.callout-strong, .callout-strong {
  color: darken($theme-success-color, 15%);
}

.fancybox__backdrop {
  background-color: #fff !important;
}
.fancybox__caption {
  color: $theme-text-color-light;
}

.flowchart {
  text-align: center;
  .probable_cause, .docs-article .probable_cause {
    text-transform: uppercase;
    font-style: italic;
  }
  .question {
  }
  .flow {
    font-size: 18pt;
  }
}

.btn-outline-info {
  border: 1px solid #cfdcf9;
  &:hover {
    color: white;
  }
}
.btn-outline-primary {
  border: 1px solid #bee9d2;
  &:hover {
    color: white;
  }
}

.link-block {
}
