[%- SWITCH type -%]
  [%- CASE "warning" -%]
    [%- icon = "bullhorn" -%]
    [%- class = "callout-block-warning" -%]
    [%- default_heading = "Warning" -%]
  [%- CASE ["tip", "success"] -%]
    [%- icon = "note-sticky" -%]
    [%- class = "callout-block-success" -%]
    [%- default_heading = "Tip" -%]
  [%- CASE "danger" -%]
    [%- icon = "exclamation-triangle" -%]
    [%- class = "callout-block-danger" -%]
    [%- default_heading = "Danger" -%]
  [%- CASE "dark" -%]
    [%- icon = "info-circle" -%]
    [%- class = "callout-block-secondary" -%]
    [%- default_heading = "FYI" -%]
  [%- CASE -%]
    [%- icon = "info-circle" -%]
    [%- class = "callout-block-info" -%]
    [%- default_heading = "Note" -%]
[%- END -%]

<div class="d-inline-block callout-block [% class %]">
  <div class="content">
    [% IF ! no_heading %]
    <h4 class="callout-title">
	    <span class="callout-icon-holder me-1">
        <i class="fas fa-[% IF icon_override %][% icon_override %][% ELSE %][% icon %][% END %]"></i>
      </span>
      [% IF heading %][% heading %][% ELSE %][% default_heading %][% END %]
    </h4>
    [% END %]
    [% content %]
  </div>
</div>
