
<footer class="footer">
    <div class="container text-center py-5">
        <p>
          Want to Report problems, make suggestions, contribute, etc ? 
          <a href="https://github.com/mstratman/masfx.io/issues" target="_blank">submit an issue on Github</a>
          or <a href="https://mas-effects.com/contact/">contact the author by email</a>
        </p>

        <ul class="social-list list-unstyled pt-4 mb-0">
            <li class="list-inline-item"><a title="Support" href="https://www.reddit.com/r/maseffects"><i class="fas fa-question-circle fa-fw"></i></a></li>
            <li class="list-inline-item"><a title="MAS Effects site" href="https://mas-effects.com"><i class="fas fa-globe fa-fw"></i></a></li>
            <li class="list-inline-item"><a title="Contact" href="https://mas-effects.com/contact"><i class="fas fa-envelope fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/MASEffectsPedals" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/mas_effects/" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
        </ul><!--//social-list-->
        <p>&copy; 2023 <a href="https://mas-effects.com">MAS Effects</a></p>


        <br><br>
        <small class="copyright"><a href="https://github.com/xriley/CoderDocs-Theme">CoderDocs theme</a> designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div>
</footer>
