[% WRAPPER "callout.html" type="note" heading="Support Forum: Why Reddit?" %]
<p>Our support forum can be found at <a target="_blank" href="https://www.reddit.com/r/maseffects/">reddit.com/r/maseffects/</a>.</p>
<h6>Why Reddit?</h6>
<p>Reddit offers a more visual experience compared to traditional forums. This is perfect for sharing completed pedals, or pics of PCBs when you're having a problem. It also has built-in support for getting notified when people reply, has native mobile apps, and is free.</p>
<p>
  It's a great platform for niche communities. For example you may also enjoy:
  <a target="_blank" href="https://www.reddit.com/r/diypedals">r/diypedals</a>,
  <a target="_blank" href="https://www.reddit.com/r/guitarpedals">r/guitarpedals</a>,
  <a target="_blank" href="https://www.reddit.com/r/diyelectronics">r/diyelectronics</a>,
  or <a target="_blank" href="https://www.reddit.com/r/diytubes">r/diytubes</a>.

</p>
<h6>Caveat:</h6>
<p>
  I DO NOT, however, recommend using its popular subreddits <small>(i.e. anything you find on its main page, r/all, or r/popular)</small> which are often toxic.
</p>
[% END %]
