<div class="mb-3 text-center p-2 link-block">
  <a class="btn btn-outline-info" target="_blank" href="https://shop.mas-effects.com/products/how-to-solder-booklet">
    <i class="fas fa-book"></i>
    Printed Copy
  </a>
  <a class="btn btn-outline-primary" target="_blank" href="/how-to-solder.pdf">
    <i class="fas fa-book"></i>
    PDF Booklet
  </a>
  [% IF video %]
    <a target="_blank" class="btn btn-info" href="[% video %]">
      <i class="fas fa-video"></i>
      Video: Watch This Section
    </a>
  [% ELSE %]
    <a target="_blank" class="" href="https://www.youtube.com/watch?v=Ae-0r53lgzM">
      Video: How to Solder
    </a>
  [% END %]
</div>
